<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificado</title>
    <link rel="stylesheet" href="/styles/certificado.css">
</head>

<body>
    <div class="certificado-container">
        <div class="certificado-content">
            <img src="/img/prevenção atitude (3).png" alt="Logo" class="logo">
            <h1>Este é para certificar que</h1>
            <h2 class="student-name">Nome do Estudante</h2>
            <p>concluiu com sucesso o curso de</p>
            <h3 class="course-name">Curso Exemplo</h3>
            <p>Data de Conclusão: <span class="completion-date">24 de outubro de 2024</span></p>
            <p>Instrutor: <span class="instructor-name">Professor Exemplo</span></p>
            <p class="assinatura">_______________________</p>
            <p class="assinatura-nome">diretor academico</p>

        </div>
    </div>
    <div class=button>
        <button onclick="gerarCertificado()">Baixar Certificado</button>

    </div>

</body>

</html>